
body{
    background: linear-gradient(#0011ff, #b6b9e2, #041091);
}

header{
    display: flex;
    gap: 10px;
    padding-left: 40px;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 70px;
    width: 70px;
    position: relative;
    margin: 0%;
}

.palavras{
    display: flex;
    align-items: center;
    padding-right: 100px;
    justify-content: flex-end;
    gap: 20px;
}

.p1,
.p2,
.p3{
    color: white;
    font-family: initial;
    font-size: 30px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
}

.titulo{
    color: white;
    font-family: initial;
}

.texto{
    color:white;
    font-family: initial;
    font-size: 18px;
    width: 50vw;
    font-weight: lighter;
}

.link{
    color: white;
    font-size: 22px;
    position: relative;
}

.personagem{
    position: relative;
    height: 520px;
    width: 850px;
    margin-top: 20px;
}

.rodape{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

@media (max-width: 860px){
    .texto{
        width: 80vw;
    }
    .personagem{
        width: 600px;
        height: 450px;
    }
}

@media (max-width: 600px){
    .palavras{
        padding-right: 20px;
    }
    .palavras span {
        font-size: 20px;
    }
    .personagem{
        width: 300px;
        height: 200px;
    }
    .texto, 
    .rodape{
        font-size: 16px;
    }
    .titulo,
    .link{
        font-size: 20px;
    }
}
@media (max-width: 378px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .palavras span{
        gap: 10px;
    }
}